<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ApplicationSettings" type="SmartApprove.Model.ApplicationSettings, WsusSmartApprove"/>
  </configSections>
  <ApplicationSettings>
    <Server Hostname="localhost" Port="8530" Secure="false"/>
    <NoRunSet AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveSupersededUpdates="true" ApproveNeededUpdates="true" ShouldApproveUninstalledSupersededUpdate="false"/>
    <RunSets>
      <add Name="Normal">
        <AllTargetGroups>
          <AllClassifications AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveSupersededUpdates="true" ApproveNeededUpdates="true" ShouldApproveUninstalledSupersededUpdate="false"/>
        </AllTargetGroups>
      </add>
    </RunSets>
  </ApplicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
