<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ApplicationSettings" type="SmartApprove.Model.ApplicationSettings, smartapprove, Version=1.0.0.1" />
	</configSections>
	<ApplicationSettings>
		<Server Hostname="services" Port="8530" Secure="false" />
		<NoRunSet AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveSupersededUpdates="true" ApproveNeededUpdates="true" />
		<RunSets>
			<add Name="Normal">
				<TargetGroups>
					<!-- All Computers -->
					<add Guid="a0a08746-4dbe-4a37-9adf-9e7652c0b421">
						<Classifications>
							<!-- Critical Updates -->
							<add Guid="e6cf1350-c01b-414d-a61f-263d14d133b4" AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveSupersededUpdates="false" ApproveNeededUpdates="true" />
						</Classifications>
					</add>
				</TargetGroups>
			</add>

			<!-- this should fail as the settings are mutually exclusive -->
			<add Name="BothTargetGroups">
				<AllTargetGroups>
					<AllClassifications AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveSupersededUpdates="true" ApproveNeededUpdates="true" />
				</AllTargetGroups>
				<TargetGroups>
					<!-- All Computers -->
					<add Guid="a0a08746-4dbe-4a37-9adf-9e7652c0b421">
						<Classifications>
							<!-- Critical Updates -->
							<add Guid="e6cf1350-c01b-414d-a61f-263d14d133b4" AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveSupersededUpdates="false" ApproveNeededUpdates="true" />
						</Classifications>
					</add>
				</TargetGroups>
			</add>

			<add Name="AllComputerGroups_AllClassifications">
				<AllTargetGroups>
					<AllClassifications AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveSupersededUpdates="true" ApproveNeededUpdates="true" />
				</AllTargetGroups>
			</add>

			<add Name="AllComputerGroups_SingleClassification">
				<AllTargetGroups>
					<Classifications>
						<!-- Critical Updates -->
						<add Guid="e6cf1350-c01b-414d-a61f-263d14d133b4" AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveSupersededUpdates="false" ApproveNeededUpdates="true" />
					</Classifications>
				</AllTargetGroups>
			</add>

			<!-- this should fail as the settings are mutually exclusive -->
			<add Name="AllComputerGroups_BothClassSetting">
				<AllTargetGroups>
					<AllClassifications AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveSupersededUpdates="true" ApproveNeededUpdates="true" />
					<Classifications>
						<!-- Critical Updates -->
						<add Guid="e6cf1350-c01b-414d-a61f-263d14d133b4" AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveSupersededUpdates="false" ApproveNeededUpdates="true" />
					</Classifications>
				</AllTargetGroups>
			</add>

			<add Name="SpecificGroup_AllClassifications">
				<TargetGroups>
					<!-- All Computers -->
					<add Guid="a0a08746-4dbe-4a37-9adf-9e7652c0b421">
						<AllClassifications AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveSupersededUpdates="true" ApproveNeededUpdates="true" />
					</add>
				</TargetGroups>
			</add>

			<add Name="SpecificGroup_SingleClassification">
				<TargetGroups>
					<!-- All Computers -->
					<add Guid="a0a08746-4dbe-4a37-9adf-9e7652c0b421">
						<Classifications>
							<!-- Critical Updates -->
							<add Guid="e6cf1350-c01b-414d-a61f-263d14d133b4" AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveSupersededUpdates="false" ApproveNeededUpdates="true" />
						</Classifications>
					</add>
				</TargetGroups>
			</add>

			<!-- this should fail as the settings are mutually exclusive -->
			<add Name="SpecificGroup_BothClassifications">
				<TargetGroups>
					<!-- All Computers -->
					<add Guid="a0a08746-4dbe-4a37-9adf-9e7652c0b421">
						<AllClassifications AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveSupersededUpdates="true" ApproveNeededUpdates="true" />
						<Classifications>
							<!-- Critical Updates -->
							<add Guid="e6cf1350-c01b-414d-a61f-263d14d133b4" AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveSupersededUpdates="false" ApproveNeededUpdates="true" />
						</Classifications>
					</add>
				</TargetGroups>
			</add>

			<!-- this should fail as the group doesn't exist -->
			<add Name="IncorrectGroup">
				<TargetGroups>
					<!-- All Computers -->
					<add Guid="a0a08746-4dbe-4a37-9adf-9e7652c0b422">
						<AllClassifications AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveSupersededUpdates="true" ApproveNeededUpdates="true" />
					</add>
				</TargetGroups>
			</add>

			<!-- this should fail as the classification doesn't exist -->
			<add Name="SpecificGroup_IncorrectClassification">
				<TargetGroups>
					<!-- All Computers -->
					<add Guid="a0a08746-4dbe-4a37-9adf-9e7652c0b421">
						<Classifications>
							<!-- Critical Updates -->
							<add Guid="e6cf1350-c01b-414d-a61f-263d14d133b5" AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveSupersededUpdates="false" ApproveNeededUpdates="true" />
						</Classifications>
					</add>
				</TargetGroups>
			</add>

			<add Name="AllComputerGroups_SpecificCategory_SpecificProduct">
				<TargetGroups>
					<!-- All Computers -->
					<add Guid="a0a08746-4dbe-4a37-9adf-9e7652c0b421">
						<Classifications>
							<!-- Critical Updates -->
							<add Guid="e6cf1350-c01b-414d-a61f-263d14d133b4" AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveSupersededUpdates="false" ApproveNeededUpdates="true">
								<Products>
									<!-- Windows -->
									<add Guid="6964aab4-c5b5-43bd-a17d-ffb4346a8e1d" />
								</Products>
							</add>
						</Classifications>
					</add>
				</TargetGroups>
			</add>

			<!-- this should fail as the product doesn't exist -->
			<add Name="AllComputerGroups_SpecificCategory_InvalidProduct">
				<TargetGroups>
					<!-- All Computers -->
					<add Guid="a0a08746-4dbe-4a37-9adf-9e7652c0b421">
						<Classifications>
							<!-- Critical Updates -->
							<add Guid="e6cf1350-c01b-414d-a61f-263d14d133b4" AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveSupersededUpdates="false" ApproveNeededUpdates="true">
								<Products>
									<!-- invalid -->
									<add Guid="9963aab4-c5b5-43bd-a17d-ffb4346a8e1d" />
								</Products>
							</add>
						</Classifications>
					</add>
				</TargetGroups>
			</add>
		</RunSets>
	</ApplicationSettings>
</configuration>