<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="ApplicationSettings" type="SmartApprove.Model.ApplicationSettings, smartapprove, Version=1.0.0.1"/>
	</configSections>
  <!--
Warning	1	Could not resolve this reference. Could not locate the assembly "Microsoft.UpdateServices.Administration, Version=3.1.6001.1, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL". Check to make sure the assembly exists on disk. If this reference is required by your code, you may get compilation errors.	SmartApprove.Test
  -->
	<ApplicationSettings>
		<Server Hostname="vodka" Port="8530" Secure="false"/>
		<NoRunSet AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveSupersededUpdates="true" ApproveNeededUpdates="true"/>
		<!--
		<RunSets>
			<add Name="Normal">
				<AllTargetGroups AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveNeededUpdates="true" />
				<TargetGroups>
					<add guid="">
						<AllClassifications AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveNeededUpdates="true" />
						<Classifications>
							<add guid="" AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveNeededUpdates="true">
								<Products>
									<add guid="" />
								</Products>
							</add>
						</Classifications>
					</add>
				</TargetGroups>
			</add>
		</RunSets>
		-->
		<RunSets>
			<add Name="Normal">
				<TargetGroups>
					<!-- test of using specific group -->
					<add Guid="e85fb21a-ac10-436a-99ba-c102dd4f770c">
						<AllClassifications AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveSupersededUpdates="true" ApproveNeededUpdates="true"/>
					</add>
				</TargetGroups>
			</add>
		</RunSets>
	</ApplicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
