<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ApplicationSettings" type="SmartApprove.Model.ApplicationSettings, smartapprove, Version=1.0.0.1" />
	</configSections>
	<ApplicationSettings>
		<Server Hostname="vodka" Port="8530" Secure="false" />
		<NoRunSet AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveSupersededUpdates="true" ApproveNeededUpdates="true" />
		<!--
		<RunSets>
			<add Name="Normal">
				<AllTargetGroups AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveNeededUpdates="true" />
				<TargetGroups>
					<add guid="">
						<AllClassifications AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveNeededUpdates="true" />
						<Classifications>
							<add guid="" AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveNeededUpdates="true">
								<Products>
									<add guid="" />
								</Products>
							</add>
						</Classifications>
					</add>
				</TargetGroups>
			</add>
		</RunSets>
		-->
		<RunSets>
			<add Name="Normal">
				<TargetGroups>
					<!-- test of using specific group -->
					<add Guid="e85fb21a-ac10-436a-99ba-c102dd4f770c">
						<AllClassifications AcceptLicenseAgreement="true" ApproveStaleUpdates="true" ApproveSupersededUpdates="true" ApproveNeededUpdates="true" />
					</add>
				</TargetGroups>
			</add>
		</RunSets>
	</ApplicationSettings>
</configuration>