<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>{{ page.title }} - WSUS Smart Approve Documentation</title>
		<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
		<link rel="stylesheet" href="/css/font-awesome.css" type="text/css" />
		<link rel="stylesheet" href="/css/site.css" type="text/css" />
		<link href="/css/prettify.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="/js/prettify.js"></script>
	</head>
	<body onload="prettyPrint()">
		<div id="contentcontainer">
       <div class="header">
         <div class="headerinner">
           <div id="floatcontainer">
             <h1>WSUS Smart Approve Documentation</h1>
           </div>
         </div>
       </div>
       <div id="maincontent">
           <div class="container-fluid">
               <div class="row-fluid">
                   <div class="span2">
<nav>
<ul class="nav nav-list">
<li class="nav-header">Table Of Contents</li>
  <li><a href="/wsussmartapprove/" title="View main page for the WSUS Smart Approve Documentation">Home</a></li>
  <li>
      <a href="/wsussmartapprove/instructions/" View instructions for Configuring WSUS Smart Approve">Configuring WSUS Smart Approve</a>
      <ul>
           <li><a href="/wsussmartapprove/instructions/xml/" View instructions for seting up the XML Configuration File">Seting up the XML Configuration File</a></li>
      </ul>
  </li>
  <li><a href="/wsussmartapprove/sourcecode/" title="View instructions on working with the source code">Working with the source code</a></li>
  <li><a href="/wsussmartapprove/documentation/" title="View instructions on contributing to the documentation">Contributing to the documentation</a></li>
  <li><a href="/wsussmartapprove/history/" title="View the project history">Project history</a></li>
  <li><a href="/wsussmartapprove/credits/" title="View project credits">Credits</a></li>
</ul>
<ul class="nav nav-list">
<li class="nav-header">Project Links</li>
  <li><a href="http://wsussmartapprove.codeplex.com" title="View the Codeplex project site for WSUS Smart Approve">Codeplex</a></li>
  <li><a href="http://www.dhgms.com/projects/wsussmartapprove" title="View the DHGMS Solutions project site for WSUS Smart Approve">DHGMS Solutions</a></li>
  <li><a href="http://www.dpvreony.co.uk/portfolio/project/v/24/" title="View the DPVreony portfolio details on WSUS Smart Approve">DPVreony</a></li>
  <li><a href="https://github.com/DHGMS-Solutions/wsussmartapprove" title="View the Github project site for WSUS Smart Approve">Github</a></li>
  <li><a href="http://www.ohloh.net/p/wsussmartapprove?ref=gitpages" title="View the ohloh project site for WSUS Smart Approve">ohloh</a></li>
</ul>
</nav>
<a href="http://www.ohloh.net/p/wsussmartapprove?ref=gitpages" title="View the project details on ohloh"><img alt="" src="http://www.ohloh.net/p/wsussmartapprove/widgets/project_partner_badge.gif" /></a>
                   </div>
                   <div class="span10">
                       {{ content }}
                   </div>
               </div>
             </div>
         </div>
      </div>
    </div>
  </body>
</html>
